@-webkit-keyframes slideinh{
	0%{ margin-left:-21%;}
	100%{ margin-left:0%;}
}

@-webkit-keyframes slideouth{
	0%{ margin-left:0%;}
	100%{ margin-left:-21%;}
}

@-webkit-keyframes bottomtool{
	100%{-webkit-transform: rotateZ(45deg);border-bottom:0.07em solid red;width:40%;}
}


@-webkit-keyframes middletool{
	100%{-webkit-transform: rotateZ(0deg);border-bottom:0.07em solid red;width:70%;}
}

@-webkit-keyframes toptool{
	100%{-webkit-transform: rotateZ(-45deg);border-bottom:0.07em solid red;width:40%;}
}

@-webkit-keyframes colorfade{
	100%{background:white;color:#EF5350;}
}

@-webkit-keyframes pointfade{
	100%{background:white;}
}

.menutip{
	padding:0%;
	width:100%;
	border-top:0.07em solid white;
	margin-left:5%;
	margin-top:20%;
	margin-bottom:3%;
}

.circle{
	cursor: pointer;
	margin-top: 0.9%;
	padding:1%;
	border-radius:50%;
	width:1.8%;
	margin-left: 2%;
	float:left;
	padding-top:0.7%;
	padding-left: 0.7%;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.circle.searchsym{
	width:1.7%;
	cursor:pointer;
	float:left;
}

.circle.searchsym:hover{
	-webkit-animation:colorfade 0.3s forwards ease-in-out 1;
}


div#search:hover .searchicon{
	border:1px solid red;
}

div#search:hover .searchiconbot{
	border:1px solid red;
}

.searchicon{
	color:white;
	width:15px;
	border:1px solid white;
	height:13px;
	margin-left:15%;
	border-radius:60%;
}

.searchiconbot{
	color:white;
	-webkit-transform:rotateZ(55deg);
	width:8px;
	margin-left:65%;
	margin-top:8%;
	border:1px solid white;
}

input{
  float:left;
  border-radius: 20px;
  width:15%;
  color: #F48FB1;
  border:none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size:1em;
  padding-left:2%;
}

input:focus{
	outline:none;
	border:1px solid #F48FB1;
}

@-webkit-keyframes expand{
   100%{width:95%;}
}

@-webkit-keyframes contract{
   100%{width:20%;}
}

.disappear{
	display: none;
}

div#searchbox{
	width:30%;
	margin-left:-3.5%;
	margin-top:0.6%;
	float:left;
}

a{
	text-decoration: none;
}

div#searchbox input[type=text]{
	display:block;
	width:1.4%;
    color:#F06292;
	border-radius:25px;
	padding:3.5%;
    margin-top:0.9%;
    -webkit-animation:expand 0.6s ease-in-out forwards 1;
}

div#searchbox .suggestionwrap{
	display:block;
	margin-top:12%;
	width:96%;
	margin-left:2%;
	border-radius:0px;
	padding:0.6%; 
}

div#searchbox .suggestionwrap .suggestions{
     width: 98%;
     padding:1%;
     cursor:pointer;
     border-radius:10px;
     background:white;
     color:#F06292; 
     line-height:200%;
     border:1px solid white;
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
}


div#menucircle:hover{
	-webkit-animation:pointfade 0.2s forwards ease-in 1;
}

div#menucircle:hover .menutip{
	border-top:0.07em solid #F44336;
}

.menubottip{
	-webkit-animation:bottomtool 0.5s forwards 1;
}

div#menucircle:hover .menutip:nth-child(2){
    border-top:0.07em solid #F44336;
}

.menutoptip{
	-webkit-animation:toptool 0.5s forwards 1;
}

div#menucircle:focus .menutip{
	 border-top:0.07em solid #F44336;
	-webkit-animation:toptool 1s forwards 1;
}

.square {
   width:7.2%;
   text-align: center;
}

.square span{
	text-decoration: none;
	background: transparent;
	color:white;
	cursor: pointer;
	border:1px solid white;
	padding:8%;
}

.square span:hover{
	border:1px solid #FFCDD2;
	-webkit-animation: colorfade 0.3s forwards ease-in 1;
}

div#videoadd{
	margin-left:82%;
	margin-top:2%;
}

div#questionadd{
	margin-left:90%;
	margin-top:-1.5%;
}

div#menu{
	display:none;
	width:20%;
	height:100%;
	float:left;
	background: #FFEBff;
	margin-left:-20%;
	box-shadow:1px 1px 2px 1px #EF9A9A;
}

.infospans{
	border:1px solid white;
	margin-right:5%;
}

.slidein {
	-webkit-animation:slideinh 0.6s forwards ease-in-out 1;
}

.slideout {
	-webkit-animation:slideouth 0.3s forwards ease-out 1;
}


span#username{
	margin-left: 20%;
}

img#userdp{
	z-index:25;
	margin-top:-12%;
}

div#spancon{
	width:99.2%;
	position: relative;
	z-index:10;
	background: white;
	border:1px solid white;
}

@-webkit-keyframes expandsquare{
	0%{ display:block;}
	100%{ display:block;width:53%;height:67%;left:25%;top:14%;}
}

.promptbox{
	position: absolute;
	width:4%;
	height:1.2%;
	display:block;
	padding:0.4%;
	background:white;
	color: #F48FB1;
	border:1px solid #F48FB1;
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.3);
    z-index:200;
	left:82.5%;
	-webkit-animation: expandsquare 0.6s forwards ease-out 1;
	top:3%;	
}

.innerprompt{
	position:absolute;
	width:98%;
	height:96%;
    border:1px solid cyan;
    margin-left:0%;
    margin-top:0%; 
}

.innerprompt input[type="text"]{
	border:1px solid #BA68C8;
	border-radius:0px;
	width:80%;
	font-size:0.9em;
	margin-left:10%;
	margin-top:2%;
	margin-right:3%;
	float:left;
	padding:1%;
	margin-bottom:2%;
	color:#BA68C8;
}


.innerprompt select{
	border:1px solid #BA68C8;
	border-radius:0px;
	width:80%;
	font-size:0.9em;
	margin-left:10%;
	margin-top:2%;
	margin-right:3%;
	float:left;
	padding:1%;
	margin-bottom:2%;
	color:#BA68C8;
}
.innerprompt input[type="text"]:nth-child(1){
	margin-top:3%;
}

input#hiddenvideo{
	display:none;
	width:1%;
	color:black;
	border:1px solid red;
}


input#hiddenimage{
	display:none;
	width:1%;
	color:black;
	border:1px solid red;
}


.button{
	float:left;
	border:1px solid white;
	background:#E57373;
	margin-left:6%;
	margin-right:10%;
	margin-top:3%;
	font-size:0.9em;
	padding:1%;
	color:white;
	cursor:pointer;
}

span#videoupload{
    margin-top:-6.6%;
	margin-left:82%;
    padding-top:0.6%;
}

span#title{
	margin-top:3%;
}

span#videosubmit{
	margin-left:10%;
}

select#video_branch {
    width:15%;
    float:left;
    margin-right:0%;
}

select#video_category {
    width:60%;
    margin-left:5%;
}

span#closevideoform{
	margin-left:83%;
	padding:1%;
	padding-top:0.5%;
	padding-bottom: 0.5%;
}

span#imageupload {
    margin-left:82%;
    margin-top:-6.6%;
    padding-top:0.6%;
}

form#videoinfo {
  
}
div#progressbar {
    border:1px solid #BA68C8;
    width:99.5%;
    padding:0%;
}

div#progressfill {
    position:relative;
    height:10px;
    width:0%;
    background:#BA68C8;
}


@-webkit-keyframes expandsquareq{
	0%{ display:block;}
	100%{ display:block;width:53%;height:40%;left:25%;top:14%;}
}


.qadd {
    position:absolute;
    width:7%;
    height:6%;
    left:85%;
    top:2.7%;
    border:1px solid #CE93D8;
    background-color:white;
    z-index:5;
    -webkit-animation: expandsquareq forwards 1s ease-in-out 1;
}

div#qadd {
    display:none;
}

div#qacont{
    display:none;
}

form#qaddform {
    margin:1%;
    padding:2%;
    margin-bottom:0%;
}

textarea {
  border-radius: 2px;
  border:1px solid #CE93D8;
  width:100%;
  color: #9C27B0;
  padding:1%;
  font-family:'Segoe UI';
  padding-bottom: 0.5%;
  font-size:1em;
  padding-left:2%;
  margin-bottom:3%;
}

span#qclose {
    cursor:pointer;
    color:#9C27B0;
    margin-left:80%;
}
    textarea:focus {
        outline:none;
        color:#AB47BC;
	    border:1px solid #F48FB1;
    }


form#qaddform div {
    color:#AB47BC;
    margin-bottom:1%;
}

form#qaddform span{
    margin-left:89%;
}