body{
	height: 100%;
	width: 100%;
	font-size:100%;
	margin-left:0%;
	margin-top:0%;
	font-family:Segoe UI;
	background:#FFEBEE;
	position: absolute;
	perspective:700;
	-webkit-perspective:700;
}

.papercontainer{
	position:relative;
	height:100%;
	width:100%;
}

.papertool{
	background:#9C27B0;
	top:0%;
	height:12%;
	border:1px solid white;
	border-bottom:1px solid #FFEBEE;
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.8); 
}

.userbar{
	width:100%;
	background: #E91E63;
	color:white;
	z-index:5;
	padding: 2%;
	text-align: center;
	position: relative;
}

.userbar:after
{
	content: '';
	border: 10px solid transparent;
	border-left-color: #880E4F;
	border-top-color: #880E4F;
	position: absolute;
	right:0%;
	top: 100%;
}

.propic{
	width:19%;
	height:50px;
	margin-left:10%;
	border-radius:50%;
	margin-top:2%;
	float:left;
	border:1px solid white;
	box-shadow: inset 0px 0px 1px 1px #000;
}

.usertitle{
	color:white;
	text-decoration: none;
	margin-left:5%;
	line-height:200%;
}

.infospans{
	color: #F48FB1;
	padding:1%;
	margin-left:15%;
	line-height:500%;
}

.infospans a{
	color: #F48FB1;
	padding:2%;
	border:1px solid #F48FB1;
	text-decoration: none;
}

div#infobar{
	width:95.8%;
	background:white;
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.2);
}


.infospans:hover a{
   color: cyan;
   border:1px solid cyan;
}

@-webkit-keyframes spininfi{
	0%{
		-webkit-transform: :rotateX(180deg);
	}
	20%{
		-webkit-transform:rotateX(200deg);
	}
	40%{
	    -webkit-transform:rotateZ(180deg);	
	}
	55%{
		-webkit-transform:rotateZ(360deg);
	}
	65%{
		-webkit-transform: :rotateX(-180deg);
	}
	75%{
		-webkit-transform:rotateX(-360deg);
	}
	90%{
	    -webkit-transform:rotateZ(-180deg);	
	}
	100%{
		-webkit-transform:rotateZ(-360deg);
	}
}

div#loading{
	-webkit-animation:spininfi 2s infinite;
	position: absolute;
	width:3.5%;
	display:none;
	z-index:4000;
	height:7%;
	opacity: 0.9;
	left: 45%;
	top: 40%;
	border-radius:10%;
	background: white;
	text-align: center;
    box-shadow: inset 0px 0px 5px blue;
	color:#2196F3;
}

div#loading img{
	margin-left:5%;
	margin-top:10%;
}

div#loading span{
	font-size:0.8em;
	width:100%;
	margin-left:10%;
    line-height: 200%
}


.wall{
	width:93.5%;
	margin-top:1%;
	margin-left:1%;
	padding:1%;
	border: 2px solid white;
}

.wallposts{
    width:97.5%;
    padding:1%;
    color:#BA68C8;
    text-align: center;
    background: white;
    line-height:200%;
	background:white;
	margin-bottom:2%;
    -webkit-box-shadow:0px 0px 8px rgba(1,0,0,0.1);
}
::-webkit-scrollbar {  
    width: 10px;
}  
::-webkit-scrollbar-track {  
    background-color: white;  
    border-left: 1px solid #ccc; 

}  
::-webkit-scrollbar-thumb {  
    background-color: #F06292;  
    border-radius: 1px;
}  
::-webkit-scrollbar-thumb:hover {
	background-color: #E91E63; 
}  
